*{
    box-sizing: border-box;

}

body {
    background-color: #f1f1f1;

}

#surveyForm{
    background-color: #fff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
h1 {
    text-align: center;
    color: blue;
    padding: 20px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaa;
}

input[type=radio] {
    height: 15px;
    width: 15px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
   
  }
  

  
button {
    background-color: blue;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    
    cursor: pointer;
  }

  button:hover {
    opacity: 0.7;
  }
  #prevBtn {
    background-color: #bbbbbb;
  }  


  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  .step.active {
    opacity: 1;
  }

  .step.finish {
    background-color:blue;
  }

  /* Hide all steps by default: */
.tab {
    display: none;
    margin-bottom: 35px;
   
  }

  #mine{
    text-align: center;
    padding: 20px;
    margin-bottom: 35px;
  }
  
  #mine:hover{
    font-size: 19px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 10px 0px rgba(0,255,255,0.7);  
  }
 #font{
    font-size: 20px;
 }